.calculadora{
    position: fixed;
    top:50%;
    left:50%;

    background-color: rgb(48, 84, 79);
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size: 3rem;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), (rgb(111, 177, 141)));
    border: 2px solid #000000;
    border-radius: 10%;
    padding: 20px;

}/*Fechamento calculadora*/

.tela
{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    font-size: 1rem; /* tamanho da letra na tela*/
    width: 93%;
    height:80px;
    margin-bottom:20px;
    border: 2px solid #000000; /*cor da borda da tela*/
    padding: 1px;
    border-radius:4px;
    background-color:#888585; /*cor do fundo da tela*/
    color: #ffffff; /*cor do numero da tela da calculadora*/
} 

.botao
{
display:flex;
flex-direction:column;
align-items:center;
}

.linha
{
display: flex;
flex-direction: row;
margin-bottom: 10px;
}

.operadores
{
    background-color: #bc9d02;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(116, 114, 114);
    border-radius:10%
} /*Fechamento operadora */

.outros
{
    background-color: #3138ff;
    color: #ffffff;
    border: 1px solid rgb(128, 127, 127);
    
}

button
{
    width: 40px;
    height: 40px;
    margin: 5px;
}

button:last-child
{
margin-right: 0;
}

button:hover{ 
background-color: #c7c7c7;
color: #000000;
} /* quando passar por cima fica marcado